# DDL

In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

In [2]:
%sql DROP TABLE IF EXISTS users;

(psycopg2.errors.DependentObjectsStillExist) cannot drop table users because other objects depend on it
DETAIL:  constraint user_login_user_id_fkey on table user_login depends on table users
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE IF EXISTS users;]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [3]:
%%sql
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users" already exists

[SQL: CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [4]:
%sql COMMENT ON TABLE users IS 'Store all users details'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [5]:
%sql COMMENT ON COLUMN users.user_id IS 'Surrogate Key'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [6]:
%sql COMMENT ON COLUMN users.user_first_name IS 'User First Name'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [7]:
%sql COMMENT ON COLUMN users.user_role IS 'U for user A for Admin'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [8]:
%%sql
SELECT * 
FROM information_schema.COLUMNS 
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[('data_engineering', 'public', 'users', 'user_id', 1, "nextval('users_user_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_last_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_email_validate', 5, 'false', 'NO', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_role', 7, "'U'::bpchar", 'NO', 'character', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'bpchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'is_active', 8, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'created_dt', 9, 'CURRENT_DATE', 'NO', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'date', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'last_update_ts', 10, 'CURRENT_TIMESTAMP', 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '10', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [9]:
%%sql
SELECT * 
FROM information_schema.tables 
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[('data_engineering', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

## ADDING OR MODFYING COLUMNS

In [10]:
%sql DROP SEQUENCE IF EXISTS  users_user_id_seq  CASCADE

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [11]:
%sql CREATE SEQUENCE  users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [12]:
%sql ALTER TABLE users ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [13]:
%%sql
SELECT
    table_catalog,
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[('data_engineering', 'users', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'NO', 1),
 ('data_engineering', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('data_engineering', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('data_engineering', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('data_engineering', 'users', 'user_email_validate', 'boolean', None, 'false', 'NO', 5),
 ('data_engineering', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('data_engineering', 'users', 'user_role', 'character', 1, "'U'::bpchar", 'NO', 7),
 ('data_engineering', 'users', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('data_engineering', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'NO', 9),
 ('data_engineering', 'users', 'last_update_ts', 'timestamp without time zone', None, 'CURRENT_TIMESTAMP', 'NO', 10)]

In [14]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_email_validated SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.UndefinedColumn) column "user_email_validated" of relation "users" does not exist

[SQL: ALTER TABLE users
    ALTER COLUMN user_email_validated SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [15]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [16]:
%%sql
ALTER TABLE users
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateColumn) column "last_update_ts" of relation "users" already exists

[SQL: ALTER TABLE users
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [17]:
%sql DROP TABLE IF EXISTS users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DependentObjectsStillExist) cannot drop table users because other objects depend on it
DETAIL:  constraint user_login_user_id_fkey on table user_login depends on table users
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE IF EXISTS users]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [18]:
%%sql
CREATE TABLE users (
    user_id INT,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users" already exists

[SQL: CREATE TABLE users (
    user_id INT,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [19]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DependentObjectsStillExist) cannot drop sequence users_user_id_seq because other objects depend on it
DETAIL:  default value for column user_id of table users depends on sequence users_user_id_seq
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP SEQUENCE IF EXISTS users_user_id_seq]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [20]:
%sql CREATE SEQUENCE users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users_user_id_seq" already exists

[SQL: CREATE SEQUENCE users_user_id_seq]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [21]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq'),
    ALTER COLUMN user_email_validate SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE,
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U',
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateColumn) column "last_update_ts" of relation "users" already exists

[SQL: ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq'),
    ALTER COLUMN user_email_validate SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE,
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U',
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [22]:
%%sql
SELECT table_catalog
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[('data_engineering', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'NO', 1),
 ('data_engineering', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('data_engineering', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('data_engineering', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('data_engineering', 'user_email_validate', 'boolean', None, 'false', 'NO', 5),
 ('data_engineering', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('data_engineering', 'user_role', 'character', 1, "'U'::bpchar", 'NO', 7),
 ('data_engineering', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('data_engineering', 'created_dt', 'date', None, 'CURRENT_DATE', 'NO', 9),
 ('data_engineering', 'last_update_ts', 'timestamp without time zone', None, 'CURRENT_TIMESTAMP', 'NO', 10)]

In [23]:
%sql SELECT * FROM information_schema.sequences WHERE sequence_name ~'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[('data_engineering', 'public', 'users_user_id_seq', 'bigint', 64, 2, 0, '1', '1', '9223372036854775807', '1', 'NO')]

# MANAGING CONSTRAINTS

In [24]:
%sql DROP TABLE IF EXISTS users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DependentObjectsStillExist) cannot drop table users because other objects depend on it
DETAIL:  constraint user_login_user_id_fkey on table user_login depends on table users
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE IF EXISTS users]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [25]:
%%sql
CREATE TABLE users (
    user_id INT,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users" already exists

[SQL: CREATE TABLE users (
    user_id INT,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [26]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DependentObjectsStillExist) cannot drop sequence users_user_id_seq because other objects depend on it
DETAIL:  default value for column user_id of table users depends on sequence users_user_id_seq
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP SEQUENCE IF EXISTS users_user_id_seq]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [27]:
%sql CREATE SEQUENCE users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users_user_id_seq" already exists

[SQL: CREATE SEQUENCE users_user_id_seq]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [28]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq'),
    ALTER COLUMN user_email_validate SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE,
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U',
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateColumn) column "last_update_ts" of relation "users" already exists

[SQL: ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq'),
    ALTER COLUMN user_email_validate SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE,
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U',
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [29]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
11 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_10_not_null')]

In [30]:
%sql ALTER TABLE users ADD PRIMARY KEY (user_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.InvalidTableDefinition) multiple primary keys for table "users" are not allowed

[SQL: ALTER TABLE users ADD PRIMARY KEY (user_id)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [31]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
11 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_10_not_null')]

In [32]:
%%sql
ALTER TABLE users DROP CONSTRAINT users_pkey

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.UndefinedObject) constraint "users_pkey" of relation "users" does not exist

[SQL: ALTER TABLE users DROP CONSTRAINT users_pkey]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [33]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
11 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_10_not_null')]

In [34]:
%%sql
ALTER TABLE users ADD CONSTRAINT user_pk PRIMARY KEY (user_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.InvalidTableDefinition) multiple primary keys for table "users" are not allowed

[SQL: ALTER TABLE users ADD CONSTRAINT user_pk PRIMARY KEY (user_id)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [35]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
11 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_10_not_null')]

In [36]:
%sql ALTER TABLE users ADD UNIQUE (user_email_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [37]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
12 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key1'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_10_not_null')]

In [38]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_email_validate SET NOT NULL,
    ALTER COLUMN user_role SET NOT NULL,
    ALTER COLUMN created_dt SET NOT NULL,
    ALTER COLUMN last_update_ts SET NOT NULL;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [39]:
%%sql
ALTER TABLE users
    ADD CHECK (user_role IN ('U', 'A'))

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [40]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
13 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key1'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check1'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_10_not_null')]

In [41]:
%%sql
CREATE TABLE user_login (
    user_login_id SERIAL PRIMARY KEY,
    user_id INT,
    user_login_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    user_ip_addr VARCHAR(20)
)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "user_login" already exists

[SQL: CREATE TABLE user_login (
    user_login_id SERIAL PRIMARY KEY,
    user_id INT,
    user_login_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    user_ip_addr VARCHAR(20)
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [42]:

%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'user_login'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[('data_engineering', 'user_login', 'PRIMARY KEY', 'user_login_pkey'),
 ('data_engineering', 'user_login', 'FOREIGN KEY', 'user_login_user_id_fkey'),
 ('data_engineering', 'user_login', 'CHECK', '2200_24741_1_not_null')]

In [43]:
%%sql
ALTER TABLE user_login
    ADD FOREIGN KEY (user_id)
    REFERENCES users(user_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [44]:

%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'user_login'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[('data_engineering', 'user_login', 'PRIMARY KEY', 'user_login_pkey'),
 ('data_engineering', 'user_login', 'FOREIGN KEY', 'user_login_user_id_fkey'),
 ('data_engineering', 'user_login', 'FOREIGN KEY', 'user_login_user_id_fkey1'),
 ('data_engineering', 'user_login', 'CHECK', '2200_24741_1_not_null')]

# INDEXES

In [45]:
#%%sql
#DROP TABLE order_items;
#DROP TABLE orders;
#DROP TABLE products;
#DROP TABLE categories;
#DROP TABLE departments;
#DROP TABLE customers;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [46]:
%%sql
--Postgres Table Creation Script
--

--
-- Table structure for table departments
--

CREATE TABLE departments (
  department_id INT NOT NULL,
  department_name VARCHAR(45) NOT NULL,
  PRIMARY KEY (department_id)
);

--
-- Table structure for table categories
--

CREATE TABLE categories (
  category_id INT NOT NULL,
  category_department_id INT NOT NULL,
  category_name VARCHAR(45) NOT NULL,
  PRIMARY KEY (category_id)
); 

--
-- Table structure for table products
--

CREATE TABLE products (
  product_id INT NOT NULL,
  product_category_id INT NOT NULL,
  product_name VARCHAR(45) NOT NULL,
  product_description VARCHAR(255) NOT NULL,
  product_price FLOAT NOT NULL,
  product_image VARCHAR(255) NOT NULL,
  PRIMARY KEY (product_id)
);

--
-- Table structure for table customers
--

CREATE TABLE customers (
  customer_id INT NOT NULL,
  customer_fname VARCHAR(45) NOT NULL,
  customer_lname VARCHAR(45) NOT NULL,
  customer_email VARCHAR(45) NOT NULL,
  customer_password VARCHAR(45) NOT NULL,
  customer_street VARCHAR(255) NOT NULL,
  customer_city VARCHAR(45) NOT NULL,
  customer_state VARCHAR(45) NOT NULL,
  customer_zipcode VARCHAR(45) NOT NULL,
  PRIMARY KEY (customer_id)
); 

--
-- Table structure for table orders
--

CREATE TABLE orders (
  order_id INT NOT NULL,
  order_date TIMESTAMP NOT NULL,
  order_customer_id INT NOT NULL,
  order_status VARCHAR(45) NOT NULL,
  PRIMARY KEY (order_id)
);

--
-- Table structure for table order_items
--

CREATE TABLE order_items (
  order_item_id INT NOT NULL,
  order_item_order_id INT NOT NULL,
  order_item_product_id INT NOT NULL,
  order_item_quantity INT NOT NULL,
  order_item_subtotal FLOAT NOT NULL,
  order_item_product_price FLOAT NOT NULL,
  PRIMARY KEY (order_item_id)
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [47]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\gabriel\anaconda3\lib\site-packages (2.9.4)

In [48]:
import psycopg2

In [54]:
%%time
from random import randrange
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='data_engineering',
    user = 'marcio_gabriel',
    password = '123456'
)
cursor = connection.cursor()
query = '''
    SELECT * FROM orders o JOIN order_items oi
        ON o.order_id = oi.order_item_order_id
        WHERE o.order_id = %s
'''
ctr = 0
while True:
    if ctr == 2000:
        break
    order_id = randrange(1, 68883)
    cursor.execute(query, (order_id,))
    ctr += 1
cursor.close()
connection.close()

CPU times: total: 141 ms
Wall time: 16.2 s

In [58]:

%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'order_items'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
7 rows affected.

[('data_engineering', 'order_items', 'PRIMARY KEY', 'order_items_pkey'),
 ('data_engineering', 'order_items', 'CHECK', '2200_24900_1_not_null'),
 ('data_engineering', 'order_items', 'CHECK', '2200_24900_2_not_null'),
 ('data_engineering', 'order_items', 'CHECK', '2200_24900_3_not_null'),
 ('data_engineering', 'order_items', 'CHECK', '2200_24900_4_not_null'),
 ('data_engineering', 'order_items', 'CHECK', '2200_24900_5_not_null'),
 ('data_engineering', 'order_items', 'CHECK', '2200_24900_6_not_null')]

In [55]:
%%sql
CREATE INDEX order_items_oid_idx
ON order_items(order_item_order_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [56]:
%%time
from random import randrange
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='data_engineering',
    user = 'marcio_gabriel',
    password = '123456'
)
cursor = connection.cursor()
query = '''
    SELECT * FROM orders o JOIN order_items oi
        ON o.order_id = oi.order_item_order_id
        WHERE o.order_id = %s
'''
ctr = 0
while True:
    if ctr == 2000:
        break
    order_id = randrange(1, 68883)
    cursor.execute(query, (order_id,))
    ctr += 1
cursor.close()
connection.close()

CPU times: total: 46.9 ms
Wall time: 297 ms

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
13 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key1'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check1'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24784_10_not_null')]