# DDL

In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

In [2]:
%sql DROP TABLE IF EXISTS users;

Done.

[]

In [3]:
%%sql
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [4]:
%sql COMMENT ON TABLE users IS 'Store all users details'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [5]:
%sql COMMENT ON COLUMN users.user_id IS 'Surrogate Key'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [6]:
%sql COMMENT ON COLUMN users.user_first_name IS 'User First Name'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [7]:
%sql COMMENT ON COLUMN users.user_role IS 'U for user A for Admin'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [8]:
%%sql
SELECT * 
FROM information_schema.COLUMNS 
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[('data_engineering', 'public', 'users', 'user_id', 1, "nextval('users_user_id_seq1'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_last_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_email_validated', 5, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_role', 7, "'U'::character varying", 'NO', 'character varying', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'is_active', 8, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'created_dt', 9, 'CURRENT_DATE', 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'date', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'last_updated_ts', 10, 'CURRENT_TIMESTAMP', 'YES', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '10', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [9]:
%%sql
SELECT * 
FROM information_schema.tables 
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[('data_engineering', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

## ADDING OR MODFYING COLUMNS

In [10]:
%sql DROP SEQUENCE IF EXISTS  users_user_id_seq  CASCADE

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [11]:
%sql CREATE SEQUENCE  users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [12]:
%sql ALTER TABLE users ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [13]:
%%sql
SELECT
    table_catalog,
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[('data_engineering', 'users', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'NO', 1),
 ('data_engineering', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('data_engineering', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('data_engineering', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('data_engineering', 'users', 'user_email_validated', 'boolean', None, 'false', 'YES', 5),
 ('data_engineering', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('data_engineering', 'users', 'user_role', 'character varying', 1, "'U'::character varying", 'NO', 7),
 ('data_engineering', 'users', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('data_engineering', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9),
 ('data_engineering', 'users', 'last_updated_ts', 'timestamp without time zone', None, 'CURRENT_TIMESTAMP', 'YES', 10)]

In [14]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_email_validated SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [15]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [16]:
%%sql
ALTER TABLE users
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [18]:
%sql DROP TABLE IF EXISTS users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [19]:
%%sql
CREATE TABLE users (
    user_id INT,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [20]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [21]:
%sql CREATE SEQUENCE users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [25]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq'),
    ALTER COLUMN user_email_validate SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE,
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U',
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [26]:
%%sql
SELECT table_catalog
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns
WHERE table_name = 'users'
ORDER BY ordinal_position

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[('data_engineering', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'YES', 1),
 ('data_engineering', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('data_engineering', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('data_engineering', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('data_engineering', 'user_email_validate', 'boolean', None, 'false', 'YES', 5),
 ('data_engineering', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('data_engineering', 'user_role', 'character', 1, "'U'::bpchar", 'YES', 7),
 ('data_engineering', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('data_engineering', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9),
 ('data_engineering', 'last_update_ts', 'timestamp without time zone', None, 'CURRENT_TIMESTAMP', 'YES', 10)]

In [27]:
%sql SELECT * FROM information_schema.sequences WHERE sequence_name ~'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[('data_engineering', 'public', 'users_user_id_seq', 'bigint', 64, 2, 0, '1', '1', '9223372036854775807', '1', 'NO')]

# MANAGING CONSTRAINTS

In [28]:
%sql DROP TABLE IF EXISTS users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [29]:
%%sql
CREATE TABLE users (
    user_id INT,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [30]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [31]:
%sql CREATE SEQUENCE users_user_id_seq

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [32]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq'),
    ALTER COLUMN user_email_validate SET DEFAULT FALSE,
    ALTER COLUMN is_active SET DEFAULT FALSE,
    ALTER COLUMN user_role SET DATA TYPE CHAR(1),
    ALTER COLUMN user_role SET DEFAULT 'U',
    ADD COLUMN last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [34]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[('data_engineering', 'users', 'CHECK', '2200_24720_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_4_not_null')]

In [35]:
%sql ALTER TABLE users ADD PRIMARY KEY (user_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [36]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'users_pkey'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_4_not_null')]

In [37]:
%%sql
ALTER TABLE users DROP CONSTRAINT users_pkey

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [38]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[('data_engineering', 'users', 'CHECK', '2200_24720_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_4_not_null')]

In [39]:
%%sql
ALTER TABLE users ADD CONSTRAINT user_pk PRIMARY KEY (user_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [40]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_4_not_null')]

In [41]:
%sql ALTER TABLE users ADD UNIQUE (user_email_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [42]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
6 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_4_not_null')]

In [43]:
%%sql
ALTER TABLE users
    ALTER COLUMN user_email_validate SET NOT NULL,
    ALTER COLUMN user_role SET NOT NULL,
    ALTER COLUMN created_dt SET NOT NULL,
    ALTER COLUMN last_update_ts SET NOT NULL;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [44]:
%%sql
ALTER TABLE users
    ADD CHECK (user_role IN ('U', 'A'))

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [45]:
%%sql
SELECT table_catalog,
    table_name,
    constraint_type,
    constraint_name
FROM information_schema.table_constraints
WHERE table_name = 'users'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
11 rows affected.

[('data_engineering', 'users', 'PRIMARY KEY', 'user_pk'),
 ('data_engineering', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('data_engineering', 'users', 'CHECK', 'users_user_role_check'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_1_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_2_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_3_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_4_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_5_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_7_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_9_not_null'),
 ('data_engineering', 'users', 'CHECK', '2200_24720_10_not_null')]

In [46]:
%%sql
CREATE TABLE user_login (
    user_login_id SERIAL PRIMARY KEY,
    user_id INT,
    user_login_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    user_ip_addr VARCHAR(20)
)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [ ]:
#aula 144 7:30