In [3]:
%load_ext sql

In [6]:
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering_exercises

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering_exercises

## CREATE DATABASE

In [22]:
%sql DROP TABLE IF EXISTS courses

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
Done.

[]

In [23]:
%%sql
CREATE TABLE courses(
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author VARCHAR(40),
    course_status VARCHAR(10),
    course_published_dt DATE NOT NULL DEFAULT CURRENT_DATE
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
Done.

[]

In [24]:
%sql SELECT * FROM courses;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
0 rows affected.

[]

## INSET DATA

In [26]:
%%sql
INSERT INTO courses(course_name, course_author, course_status, course_published_dt)
VALUES
('Programming using Python','Bob Dillon','published','30/09/2022'),
('Data Engineering using Python','Bob Dillon','published','15/07/2022'),
('Programming using Scala','Elvis Presley','published','15/05/2020'),
('Programming using Java','Mike Jack','inactive','10/08/2022'),
('Web Applications - Python Flask','Bob Dillon','inactive','20/07/2020'),
('Streaming Pipelines - Python','Bob Dillon','published','05/10/2020'),
('Web Applications - Scala Play','Elvis Presley','inactive','30/09/2020'),
('Web Applications - Python Django','Bob Dillon','published','23/06/2020'),
('Server Automation - Ansible','Uncle Sam','published','05/07/2020');

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
9 rows affected.

[]

In [27]:
%%sql
INSERT INTO courses(course_name, course_author, course_status)
VALUES
('Data Engineering using Scala','Elvis Presley','draft'),
('Web Applications - Java Spring','Mike Jack','draft'),
('Pipeline Orchestration - Python','Bob Dillon','draft');

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
3 rows affected.

[]

In [28]:
%sql SELECT * FROM courses;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2022, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2022, 7, 15)),
 (3, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 15)),
 (4, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2022, 8, 10)),
 (5, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (6, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (7, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (8, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (9, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (10, 'Data Engineering using Scala', 'Elvis Presley', 'draft', datetime.date(2022, 11, 18)),
 (11, 'Web Applications - Java Spring', 'Mike Jack', 'draft', datetime.date(2022, 11, 18)),
 (12, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', datetime.date(2022, 11, 18))]

# UPDATE DATE

In [31]:
%%sql
UPDATE courses 
SET course_status = 'published', 
    course_published_dt = current_date 
WHERE course_status='draft' AND 
    (course_name LIKE '%Python%' OR course_name LIKE '%Scala%')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
2 rows affected.

[]

In [32]:
%sql SELECT * FROM courses;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2022, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2022, 7, 15)),
 (3, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 15)),
 (4, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2022, 8, 10)),
 (5, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (6, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (7, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (8, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (9, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (11, 'Web Applications - Java Spring', 'Mike Jack', 'draft', datetime.date(2022, 11, 18)),
 (10, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2022, 11, 18)),
 (12, 'Pipeline Orchestration - Python', 'Bob Dillon', 'published', datetime.date(2022, 11, 18))]

## DELETE

In [33]:
%%sql
DELETE FROM courses 
WHERE course_status !='draft' AND course_status !='published';

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
3 rows affected.

[]

In [35]:
%%sql
SELECT course_author, count(1) AS course_count
FROM courses
WHERE course_status= 'published'
GROUP BY course_author

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
3 rows affected.

[('Bob Dillon', 5), ('Elvis Presley', 2), ('Uncle Sam', 1)]