In [7]:
%pip install ipython-sql
%pip install psycopg2-binary

Requirement already satisfied: ipython-sql in c:\python311\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in c:\python311\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.6.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\python311\lib\site-packages (from ipython-sql) (1.4.44)
Requirement already satisfied: sqlparse in c:\python311\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (3.0.32)
Requirement already satisfied: pygments>=2.4.0 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: stack-data in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.6.1)
Requirement already satisfied: traitlets>=5 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (5.5.0)
Requirement already satisfied: colorama in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: greenlet!=0.4.17 in c:\python311\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.1.0)
Requirement already satisfied: pure-eval in c:\users\gabriel\appdata\roaming\python\python311\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2-binary in c:\python311\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# CREATING TABLE

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

In [10]:
%%sql
CREATE TABLE users(
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    create_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users" already exists

[SQL: CREATE TABLE users(
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validate BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    create_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [11]:
%%sql
SELECT * FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
0 rows affected.

[]

In [12]:
%%sql
SELECT * FROM information_schema.columns
WHERE table_name = 'users'
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[('data_engineering', 'public', 'users', 'user_id', 1, "nextval('users_user_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_last_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_email_validate', 5, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'user_role', 7, "'U'::character varying", 'NO', 'character varying', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'is_active', 8, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'create_ts', 9, 'CURRENT_TIMESTAMP', 'YES', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'users', 'last_update_ts', 10, 'CURRENT_TIMESTAMP', 'YES', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '10', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

# INSERTING DATA

In [13]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
#clean the data
%sql TRUNCATE table users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [15]:
%%sql
INSERT INTO users(user_first_name, user_last_name, user_email_id)
VALUES ('Scott', 'Tiger', 'scott@tiger.com')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[]

In [16]:
%%sql
INSERT INTO users(user_first_name, user_last_name, user_email_id)
VALUES ('Donald', 'Duck', 'donald@duck.com')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[]

In [17]:
%%sql
SELECT * FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
2 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 11, 21, 8, 25, 45, 375805), datetime.datetime(2022, 11, 21, 8, 25, 45, 375805)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 11, 21, 8, 25, 45, 404477), datetime.datetime(2022, 11, 21, 8, 25, 45, 404477))]

In [18]:
%%sql
INSERT INTO users(user_first_name, user_last_name, user_email_id, user_password, user_role, is_active)
VALUES 
('Gordan', 'Bradock', 'dorgadn@bradock.com', '123456', 'U', true),
('Tobe', 'Lyness', 'Lyness1@hotmail.com', '123456', 'U', true),
('Addie', 'Mesias', 'amesias2@gmail.com', '123456', 'U', true)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[]

In [19]:
%%sql
SELECT * FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 11, 21, 8, 25, 45, 375805), datetime.datetime(2022, 11, 21, 8, 25, 45, 375805)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 11, 21, 8, 25, 45, 404477), datetime.datetime(2022, 11, 21, 8, 25, 45, 404477)),
 (3, 'Gordan', 'Bradock', 'dorgadn@bradock.com', False, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (4, 'Tobe', 'Lyness', 'Lyness1@hotmail.com', False, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (5, 'Addie', 'Mesias', 'amesias2@gmail.com', False, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148))]

# UPDATING DATA

In [20]:
%%sql

UPDATE users SET user_role = 'A' WHERE user_id = 6

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
0 rows affected.

[]

In [21]:
%%sql
SELECT * FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.datetime(2022, 11, 21, 8, 25, 45, 375805), datetime.datetime(2022, 11, 21, 8, 25, 45, 375805)),
 (2, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2022, 11, 21, 8, 25, 45, 404477), datetime.datetime(2022, 11, 21, 8, 25, 45, 404477)),
 (3, 'Gordan', 'Bradock', 'dorgadn@bradock.com', False, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (4, 'Tobe', 'Lyness', 'Lyness1@hotmail.com', False, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (5, 'Addie', 'Mesias', 'amesias2@gmail.com', False, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148))]

    *update all values

In [22]:
%%sql
UPDATE users
SET 
user_email_validate = true, 
is_active = true;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[]

In [23]:
%%sql
SELECT * FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', True, None, 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 375805), datetime.datetime(2022, 11, 21, 8, 25, 45, 375805)),
 (2, 'Donald', 'Duck', 'donald@duck.com', True, None, 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 404477), datetime.datetime(2022, 11, 21, 8, 25, 45, 404477)),
 (3, 'Gordan', 'Bradock', 'dorgadn@bradock.com', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (4, 'Tobe', 'Lyness', 'Lyness1@hotmail.com', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (5, 'Addie', 'Mesias', 'amesias2@gmail.com', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148))]

    *conver email to uppercase

In [24]:
%%sql
UPDATE users
SET
    user_email_id = upper(user_email_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[]

In [25]:
%%sql
SELECT * FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[(1, 'Scott', 'Tiger', 'SCOTT@TIGER.COM', True, None, 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 375805), datetime.datetime(2022, 11, 21, 8, 25, 45, 375805)),
 (2, 'Donald', 'Duck', 'DONALD@DUCK.COM', True, None, 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 404477), datetime.datetime(2022, 11, 21, 8, 25, 45, 404477)),
 (3, 'Gordan', 'Bradock', 'DORGADN@BRADOCK.COM', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (4, 'Tobe', 'Lyness', 'LYNESS1@HOTMAIL.COM', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148)),
 (5, 'Addie', 'Mesias', 'AMESIAS2@GMAIL.COM', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148))]

    * add new column call full_name and concatenate the results

In [26]:
%%sql
ALTER TABLE users ADD COLUMN user_full_name VARCHAR(90)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [27]:
%sql SELECT user_id, user_first_name, user_last_name, user_full_name FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[(1, 'Scott', 'Tiger', None),
 (2, 'Donald', 'Duck', None),
 (3, 'Gordan', 'Bradock', None),
 (4, 'Tobe', 'Lyness', None),
 (5, 'Addie', 'Mesias', None)]

In [28]:
%sql SELECT concat(user_first_name, ' ', user_last_name) FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[('Scott Tiger',),
 ('Donald Duck',),
 ('Gordan Bradock',),
 ('Tobe Lyness',),
 ('Addie Mesias',)]

In [29]:
%%sql
UPDATE users
SET
user_full_name =  upper(concat(user_first_name, ' ', user_last_name))

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[]

In [30]:
%sql SELECT user_id, user_first_name, user_last_name, user_full_name FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[(1, 'Scott', 'Tiger', 'SCOTT TIGER'),
 (2, 'Donald', 'Duck', 'DONALD DUCK'),
 (3, 'Gordan', 'Bradock', 'GORDAN BRADOCK'),
 (4, 'Tobe', 'Lyness', 'TOBE LYNESS'),
 (5, 'Addie', 'Mesias', 'ADDIE MESIAS')]

# DELETING DATA

    *Delete user_password where password is NULL

In [31]:
%%sql
DELETE FROM users WHERE user_password IS NULL

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
2 rows affected.

[]

In [32]:
%%sql
SELECT * FROM users;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(3, 'Gordan', 'Bradock', 'DORGADN@BRADOCK.COM', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), 'GORDAN BRADOCK'),
 (4, 'Tobe', 'Lyness', 'LYNESS1@HOTMAIL.COM', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), 'TOBE LYNESS'),
 (5, 'Addie', 'Mesias', 'AMESIAS2@GMAIL.COM', True, '123456', 'U', True, datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), datetime.datetime(2022, 11, 21, 8, 25, 45, 459148), 'ADDIE MESIAS')]

# TRANSACTIONS