In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

# STRING MANIPULATION

In [3]:
%%sql
SELECT lower('HeLLo WoRld') AS lower_result, 
upper('HeLLo WoRld') AS upper_result, 
initcap('HeLLo WoRld') AS initcap_result

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[('hello world', 'HELLO WORLD', 'Hello World')]

In [4]:
%%sql
SELECT length('HeLLo WoRld') AS length

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(11,)]

In [6]:
%%sql
SELECT order_id, order_date, order_customer_id,
    lower(order_status) AS order_status,
    length(order_status) AS order_status_length
FROM orders
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'closed', 6),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'pending_payment', 15),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'complete', 8),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'closed', 6),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'complete', 8),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'complete', 8),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'complete', 8),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'processing', 10),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'pending_payment', 15),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'pending_payment', 15)]

In [10]:
%%sql
SELECT order_id, 
    SUBSTR(order_date::varchar,1,7) AS order_date,
    order_customer_id,
    order_status
FROM orders
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, '2013-07', 11599, 'CLOSED'),
 (2, '2013-07', 256, 'PENDING_PAYMENT'),
 (3, '2013-07', 12111, 'COMPLETE'),
 (4, '2013-07', 8827, 'CLOSED'),
 (5, '2013-07', 11318, 'COMPLETE'),
 (6, '2013-07', 7130, 'COMPLETE'),
 (7, '2013-07', 4530, 'COMPLETE'),
 (8, '2013-07', 2911, 'PROCESSING'),
 (9, '2013-07', 5657, 'PENDING_PAYMENT'),
 (10, '2013-07', 5648, 'PENDING_PAYMENT')]

aula 136 7:37