## STANDARD TRANSFORMATIONS

1. Projection of data
2. Filtering Data
3. Perfoming Aggregations
4. Joins
5. Sorting
6. Ranking

In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

# SELECTING OR PROJECTING DATA

In [2]:
%sql SELECT * FROM orders LIMIT 10;

10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [3]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'orders'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[('data_engineering', 'public', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [4]:
%%sql
#specify columns in any order
SELECT order_customer_id, order_date, order_status
FROM orders
LIMIT 10;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.SyntaxError) syntax error at or near "#"
LINE 1: #specify columns in any order
        ^

[SQL: #specify columns in any order
SELECT order_customer_id, order_date, order_status
FROM orders
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [5]:
%%sql
SELECT order_customer_id,
    to_char(order_date, 'yyyy-MM') AS order_month, 
    order_status
FROM orders
LIMIT 10;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [6]:
%%sql
SELECT DISTINCT to_char(order_date, 'yyyy-MM') AS order_month
FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
13 rows affected.

[('2014-01',),
 ('2014-05',),
 ('2013-12',),
 ('2013-11',),
 ('2014-04',),
 ('2014-07',),
 ('2014-03',),
 ('2013-08',),
 ('2013-10',),
 ('2013-07',),
 ('2014-02',),
 ('2013-09',),
 ('2014-06',)]

In [7]:
%sql SELECT count(1) FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(68883,)]

In [8]:
%%sql
SELECT count(DISTINCT to_char(order_date, 'yyyy-MM')) AS distinct_month_count
FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(13,)]

# FILTERING DATA

In [9]:
%%sql
SELECT * FROM orders
WHERE order_status = 'COMPLETE'
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 333, 'COMPLETE'),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 7562, 'COMPLETE'),
 (28, datetime.datetime(2013, 7, 25, 0, 0), 656, 'COMPLETE'),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 3960, 'COMPLETE')]

In [10]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status = 'COMPLETE'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(22899,)]

In [11]:
%%sql
SELECT DISTINCT order_status FROM orders;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
9 rows affected.

[('COMPLETE',),
 ('ON_HOLD',),
 ('PENDING_PAYMENT',),
 ('PENDING',),
 ('CLOSED',),
 ('CANCELED',),
 ('PROCESSING',),
 ('PAYMENT_REVIEW',),
 ('SUSPECTED_FRAUD',)]

In [12]:
%%sql
SELECT * FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (12, datetime.datetime(2013, 7, 25, 0, 0), 1837, 'CLOSED'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (18, datetime.datetime(2013, 7, 25, 0, 0), 1205, 'CLOSED')]

In [13]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(30455,)]

In [14]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status = 'COMPLETE' OR order_status = 'CLOSED'
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(30455,)]

In [15]:
%%sql
SELECT * FROM orders
WHERE order_date = '2014-01-01 00:00:00.0'
LIMIT 3

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(25876, datetime.datetime(2014, 1, 1, 0, 0), 3414, 'PENDING_PAYMENT'),
 (25877, datetime.datetime(2014, 1, 1, 0, 0), 5549, 'PENDING_PAYMENT'),
 (25878, datetime.datetime(2014, 1, 1, 0, 0), 9084, 'PENDING')]

In [16]:
%%sql
SELECT * FROM orders
WHERE order_date = '2014-01-01'
LIMIT 3

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(25876, datetime.datetime(2014, 1, 1, 0, 0), 3414, 'PENDING_PAYMENT'),
 (25877, datetime.datetime(2014, 1, 1, 0, 0), 5549, 'PENDING_PAYMENT'),
 (25878, datetime.datetime(2014, 1, 1, 0, 0), 9084, 'PENDING')]

This query will not work as LIKE cannot be used to compare agains columns with date data type

In [17]:
%%sql
SELECT * FROM orders
WHERE order_date LIKE '2014-01%'
LIMIT 3

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.UndefinedFunction) operator does not exist: timestamp without time zone ~~ unknown
LINE 2: WHERE order_date LIKE '2014-01%'
                         ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT * FROM orders
WHERE order_date LIKE '2014-01%%'
LIMIT 3]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [18]:
%%sql
SELECT * FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date,'yyyy-MM-dd') LIKE '2014-01-%'
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(25882, datetime.datetime(2014, 1, 1, 0, 0), 4598, 'COMPLETE'),
 (25888, datetime.datetime(2014, 1, 1, 0, 0), 6735, 'COMPLETE'),
 (25889, datetime.datetime(2014, 1, 1, 0, 0), 10045, 'COMPLETE'),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 3037, 'CLOSED'),
 (25895, datetime.datetime(2014, 1, 1, 0, 0), 1044, 'COMPLETE'),
 (25897, datetime.datetime(2014, 1, 1, 0, 0), 6405, 'COMPLETE'),
 (25898, datetime.datetime(2014, 1, 1, 0, 0), 3950, 'COMPLETE'),
 (25899, datetime.datetime(2014, 1, 1, 0, 0), 8068, 'CLOSED'),
 (25900, datetime.datetime(2014, 1, 1, 0, 0), 2382, 'CLOSED'),
 (25901, datetime.datetime(2014, 1, 1, 0, 0), 3099, 'COMPLETE')]

In [19]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date,'yyyy-MM-dd') LIKE '2014-01-%'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(2544,)]

In [20]:
%%sql
SELECT * FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date,'yyyy-MM') = '2014-01'
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(25882, datetime.datetime(2014, 1, 1, 0, 0), 4598, 'COMPLETE'),
 (25888, datetime.datetime(2014, 1, 1, 0, 0), 6735, 'COMPLETE'),
 (25889, datetime.datetime(2014, 1, 1, 0, 0), 10045, 'COMPLETE'),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 3037, 'CLOSED'),
 (25895, datetime.datetime(2014, 1, 1, 0, 0), 1044, 'COMPLETE'),
 (25897, datetime.datetime(2014, 1, 1, 0, 0), 6405, 'COMPLETE'),
 (25898, datetime.datetime(2014, 1, 1, 0, 0), 3950, 'COMPLETE'),
 (25899, datetime.datetime(2014, 1, 1, 0, 0), 8068, 'CLOSED'),
 (25900, datetime.datetime(2014, 1, 1, 0, 0), 2382, 'CLOSED'),
 (25901, datetime.datetime(2014, 1, 1, 0, 0), 3099, 'COMPLETE')]

In [21]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date,'yyyy-MM-dd') ~ '2014-01'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(2544,)]

In [22]:
%%sql
SELECT count(1), min(order_date), max(order_date), count(DISTINCT order_date)
FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND order_date BETWEEN '2014-01-01' AND '2014-03-31'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(7594, datetime.datetime(2014, 1, 1, 0, 0), datetime.datetime(2014, 3, 31, 0, 0), 89)]

In [23]:
%%sql
SELECT * FROM users
WHERE user_password IS NULL

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
0 rows affected.

[]

# TABLES JOINS

In [24]:
%%sql
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 129.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.95)]

In [25]:
%sql SELECT COUNT(1) FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(68883,)]

In [26]:
%sql SELECT COUNT(1) FROM order_items

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(172198,)]

In [27]:
%%sql
SELECT COUNT(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(172198,)]

In [28]:
%%sql
SELECT COUNT(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(75408,)]

# JOIN TABLES - OUTER

In [29]:
%%sql
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_order_id,
    oi.order_item_subtotal
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
ORDER BY o.order_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 1, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 129.99),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.95)]

In [30]:
%%sql
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_order_id,
    oi.order_item_subtotal
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL
ORDER BY o.order_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (40, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (47, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (53, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING', None, None),
 (54, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (55, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING', None, None)]

In [31]:
%%sql
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_order_id,
    oi.order_item_subtotal
FROM orders o RIGHT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
ORDER BY o.order_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 1, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 129.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 199.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.95),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.98)]

# PERFORMING AGGREGATIONS

In [32]:
%sql SELECT count(order_id) FROM orders;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(68883,)]

In [33]:
%sql SELECT count(DISTINCT order_date) FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(364,)]

In [34]:
%%sql
SELECT round(sum(order_item_subtotal::numeric),2) AS order_revenue
FROM order_items
WHERE order_item_order_id = 2

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(Decimal('579.98'),)]

In [35]:
%%sql
SELECT order_date,
    count(1)
FROM orders
GROUP BY order_date
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(datetime.datetime(2014, 7, 17, 0, 0), 162),
 (datetime.datetime(2014, 7, 14, 0, 0), 161),
 (datetime.datetime(2013, 9, 3, 0, 0), 218),
 (datetime.datetime(2014, 7, 1, 0, 0), 189),
 (datetime.datetime(2013, 8, 4, 0, 0), 187),
 (datetime.datetime(2014, 5, 10, 0, 0), 196),
 (datetime.datetime(2014, 7, 24, 0, 0), 185),
 (datetime.datetime(2013, 10, 15, 0, 0), 174),
 (datetime.datetime(2014, 5, 19, 0, 0), 97),
 (datetime.datetime(2014, 1, 2, 0, 0), 111)]

In [36]:
%%sql
SELECT order_status,
    count(1) AS status_count
FROM orders
GROUP BY order_status
ORDER BY order_status
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
9 rows affected.

[('CANCELED', 1428),
 ('CLOSED', 7556),
 ('COMPLETE', 22899),
 ('ON_HOLD', 3798),
 ('PAYMENT_REVIEW', 729),
 ('PENDING', 7610),
 ('PENDING_PAYMENT', 15030),
 ('PROCESSING', 8275),
 ('SUSPECTED_FRAUD', 1558)]

In [37]:
%%sql
SELECT order_item_order_id,
    sum(order_item_subtotal) AS order_revenue
FROM order_items
GROUP BY order_item_order_id
ORDER BY order_item_order_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, 299.98),
 (2, 579.98),
 (4, 699.85),
 (5, 1129.8600000000001),
 (7, 579.9200000000001),
 (8, 729.8399999999999),
 (9, 599.96),
 (10, 651.9200000000001),
 (11, 919.79),
 (12, 1299.8700000000001)]

In [38]:
%%sql
SELECT order_item_order_id,
    round(sum(order_item_subtotal)::numeric,2) AS order_revenue
FROM order_items
GROUP BY order_item_order_id
ORDER BY order_item_order_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, Decimal('299.98')),
 (2, Decimal('579.98')),
 (4, Decimal('699.85')),
 (5, Decimal('1129.86')),
 (7, Decimal('579.92')),
 (8, Decimal('729.84')),
 (9, Decimal('599.96')),
 (10, Decimal('651.92')),
 (11, Decimal('919.79')),
 (12, Decimal('1299.87'))]

In [39]:
%%sql
SELECT o.order_date,
    oi.order_item_product_id,
    round(sum(oi.order_item_subtotal)::numeric,2) AS revenue
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE
    o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id
HAVING round(sum(oi.order_item_subtotal)::numeric, 2) >= 500
ORDER BY o.order_date, revenue
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'))]

In [40]:
%%sql
SELECT count(1)
FROM
(SELECT o.order_date,
    oi.order_item_product_id,
    round(sum(oi.order_item_subtotal)::numeric,2) AS revenue
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE
    o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id
HAVING round(sum(oi.order_item_subtotal)::numeric, 2) >= 500
ORDER BY o.order_date, revenue)q

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(3339,)]

# DAILY PRODUCT REVENUE

In [45]:
%%sql
SELECT 
    o.order_date,
    oi.order_item_product_id,
    p.product_name,
    round(sum(oi.order_item_subtotal::numeric),2) AS product_revenue
FROM orders o
    JOIN order_items oi
        ON o.order_id = oi.order_item_order_id
    JOIN products p
        ON p.product_id = oi.order_item_product_id
WHERE 
o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY
o.order_date,
oi.order_item_product_id,
p.product_name
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, "Under Armour Men's Tech II T-Shirt", Decimal('74.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'))]

Exercise 1 - Customer order count¶
Get order count per customer for the month of 2014 January.

Tables - orders and customers

Data should be sorted in descending order by count and ascending order by customer id.

Output should contain customer_id, customer_first_name, customer_last_name and customer_order_count.

In [46]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'orders'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[('data_engineering', 'public', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [49]:
%%sql 
SELECT DISTINCT table_schema, table_name 
FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_schema = 'public'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
7 rows affected.

[('public', 'customers'),
 ('public', 'users'),
 ('public', 'departments'),
 ('public', 'categories'),
 ('public', 'order_items'),
 ('public', 'products'),
 ('public', 'orders')]

In [51]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'customers'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
9 rows affected.

[('data_engineering', 'public', 'customers', 'customer_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_fname', 2, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_lname', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_email', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_password', 5, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_street', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_city', 7, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_state', 8, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_zipcode', 9, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [59]:
%%sql
SELECT
    c.customer_id,
    c.customer_fname,
    c.customer_lname,
    COUNT(o.order_id) AS customer_order_count
FROM orders o
JOIN customers c
    ON o.order_customer_id = c.customer_id
WHERE
o.order_date >= '01-01-2014' AND o.order_date < '01-02-2014'
GROUP BY
    c.customer_id,
    c.customer_fname,
    c.customer_lname
ORDER BY
    customer_order_count DESC,
    customer_id ASC
LIMIT 20;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
20 rows affected.

[(8622, 'Shirley', 'Smith', 5),
 (9676, 'Theresa', 'Smith', 5),
 (7, 'Melissa', 'Wilcox', 4),
 (222, 'Frank', 'Ruiz', 4),
 (2444, 'Kenneth', 'Smith', 4),
 (2485, 'Mary', 'Hernandez', 4),
 (2555, 'Mary', 'Long', 4),
 (3128, 'Karen', 'Turner', 4),
 (3199, 'Ashley', 'Hernandez', 4),
 (3610, 'Jordan', 'Smith', 4),
 (3710, 'Ashley', 'Smith', 4),
 (3758, 'Scott', 'Smith', 4),
 (4618, 'Andrea', 'Smith', 4),
 (5583, 'Mary', 'Skinner', 4),
 (6341, 'Daniel', 'Smith', 4),
 (6404, 'Dylan', 'Smith', 4),
 (7439, 'Mary', 'Flores', 4),
 (7515, 'Mary', 'Smith', 4),
 (7758, 'Joyce', 'Howe', 4),
 (8135, 'Mary', 'Stevens', 4)]

Exercise 2 – Dormant Customers¶
Get the customer details who have not placed any order for the month of 2014 January.

Tables – orders and customers
Data should be sorted in ascending order by customer_id
Output should contain all the fields from customers

In [74]:
%%sql

select c.* 
FROM customers c LEFT OUTER JOIN 
    (SELECT DISTINCT order_customer_id 
     FROM orders WHERE
     to_char(order_date, 'yyyy-MM') = '2014-01'
    ) o
    ON c.customer_id = o.order_customer_id
WHERE  o.order_customer_id IS NULL 
ORDER BY c.customer_id
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, 'Richard', 'Hernandez', 'XXXXXXXXX', 'XXXXXXXXX', '6303 Heather Plaza', 'Brownsville', 'TX', '78521'),
 (2, 'Mary', 'Barrett', 'XXXXXXXXX', 'XXXXXXXXX', '9526 Noble Embers Ridge', 'Littleton', 'CO', '80126'),
 (3, 'Ann', 'Smith', 'XXXXXXXXX', 'XXXXXXXXX', '3422 Blue Pioneer Bend', 'Caguas', 'PR', '00725'),
 (4, 'Mary', 'Jones', 'XXXXXXXXX', 'XXXXXXXXX', '8324 Little Common', 'San Marcos', 'CA', '92069'),
 (5, 'Robert', 'Hudson', 'XXXXXXXXX', 'XXXXXXXXX', '10 Crystal River Mall ', 'Caguas', 'PR', '00725'),
 (6, 'Mary', 'Smith', 'XXXXXXXXX', 'XXXXXXXXX', '3151 Sleepy Quail Promenade', 'Passaic', 'NJ', '07055'),
 (9, 'Mary', 'Perez', 'XXXXXXXXX', 'XXXXXXXXX', '3616 Quaking Street', 'Caguas', 'PR', '00725'),
 (10, 'Melissa', 'Smith', 'XXXXXXXXX', 'XXXXXXXXX', '8598 Harvest Beacon Plaza', 'Stafford', 'VA', '22554'),
 (11, 'Mary', 'Huffman', 'XXXXXXXXX', 'XXXXXXXXX', '3169 Stony Woods', 'Caguas', 'PR', '00725'),
 (12, 'Christopher', 'Smith', 'XXXXXXXXX', 'XXXXXXXXX', '5594 Jagged Embers By-pass', 'San Antonio', 'TX', '78227')]

Exercise 3 - Revenue Per Customer¶
Get the revenue generated by each customer for the month of 2014 January

Tables - orders, order_items and customers

Data should be sorted in descending order by revenue and then ascending order by customer_id

Output should contain customer_id, customer_first_name, customer_last_name, customer_revenue.

If there are no orders placed by customer, then the corresponding revenue for a give customer should be 0.

Consider only COMPLETE and CLOSED orders

In [98]:
%%sql
SELECT
    c.customer_id,
    c.customer_fname,
    c.customer_lname,
    sum(round(oi.order_item_subtotal::numeric,2)) AS customer_revenue
FROM orders o
JOIN customers c
    ON o.order_customer_id = c.customer_id
JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE
    o.order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(o.order_date,'mm/yyyy') = '01/2014' 
GROUP BY
    c.customer_id,
    c.customer_fname,
    c.customer_lname
ORDER BY
    customer_revenue DESC,
    c.customer_id ASC
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(2555, 'Mary', 'Long', Decimal('2954.63')),
 (3465, 'Mary', 'Gardner', Decimal('2929.74')),
 (3710, 'Ashley', 'Smith', Decimal('2739.82')),
 (1780, 'Larry', 'Sharp', Decimal('2689.65')),
 (986, 'Catherine', 'Hawkins', Decimal('2629.90')),
 (9676, 'Theresa', 'Smith', Decimal('2599.84')),
 (1847, 'Mary', 'Smith', Decimal('2589.87')),
 (11901, 'Mary', 'Smith', Decimal('2469.87')),
 (4618, 'Andrea', 'Smith', Decimal('2429.82')),
 (10896, 'Victoria', 'Smith', Decimal('2419.78'))]

Exercise 4 - Revenue Per Category¶
Get the revenue generated for each category for the month of 2014 January

Tables - orders, order_items, products and categories

Data should be sorted in ascending order by category_id.

Output should contain all the fields from category along with the revenue as category_revenue.

Consider only COMPLETE and CLOSED orders

In [100]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'products'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
6 rows affected.

[('data_engineering', 'public', 'products', 'product_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_category_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_price', 5, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_description', 4, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_image', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [104]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'order_items'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
6 rows affected.

[('data_engineering', 'public', 'order_items', 'order_item_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'order_items', 'order_item_order_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'order_items', 'order_item_product_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'order_items', 'order_item_quantity', 4, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'order_items', 'order_item_subtotal', 5, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'order_items', 'order_item_product_price', 6, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'float8', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [112]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'categories'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[('data_engineering', 'public', 'categories', 'category_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'categories', 'category_department_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'categories', 'category_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [118]:
%%sql
SELECT c.*, 
    round(sum(oi.order_item_subtotal)::numeric, 2) AS category_revenue 
FROM categories c JOIN products p 
        ON c.category_id = p.product_category_id 
    JOIN order_items oi 
        ON p.product_id = oi.order_item_product_id 
    JOIN orders o
        ON oi.order_item_order_id = o.order_id
WHERE to_char(o.order_date, 'yyyy-MM') = '2014-01' 
    AND o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY c.category_id
ORDER BY c.category_id 
LIMIT 10;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(2, 2, 'Soccer', Decimal('1094.88')),
 (3, 2, 'Baseball & Softball', Decimal('3214.41')),
 (4, 2, 'Basketball', Decimal('1299.98')),
 (5, 2, 'Lacrosse', Decimal('1299.69')),
 (6, 2, 'Tennis & Racquet', Decimal('1124.75')),
 (7, 2, 'Hockey', Decimal('1433.00')),
 (9, 3, 'Cardio Equipment', Decimal('133156.77')),
 (10, 3, 'Strength Training', Decimal('3388.96')),
 (11, 3, 'Fitness Accessories', Decimal('1509.73')),
 (12, 3, 'Boxing & MMA', Decimal('3998.46'))]

Exercise 5 - Product Count Per Department¶
Get the products for each department.

Tables - departments, categories, products

Data should be sorted in ascending order by department_id

Output should contain all the fields from department and the product count as product_count

In [121]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'departments'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
2 rows affected.

[('data_engineering', 'public', 'departments', 'department_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'departments', 'department_name', 2, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [122]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'categories'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[('data_engineering', 'public', 'categories', 'category_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'categories', 'category_department_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'categories', 'category_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [125]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'products'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
6 rows affected.

[('data_engineering', 'public', 'products', 'product_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_category_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_price', 5, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_description', 4, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'products', 'product_image', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [134]:
%%sql
SELECT 
    d.*,
    count(p.product_id) AS product_count
FROM departments d
JOIN categories c
    ON d.department_id = c.category_department_id
JOIN products p 
    ON p.product_category_id = c.category_id
GROUP BY
d.department_id
ORDER BY
d.department_id ASC
LIMIT 20

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
6 rows affected.

[(2, 'Fitness', 168),
 (3, 'Footwear', 168),
 (4, 'Apparel', 140),
 (5, 'Golf', 120),
 (6, 'Outdoors', 336),
 (7, 'Fan Shop', 149)]