In [3]:
%load_ext sql

In [6]:
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering_exercises

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering_exercises

## CREATE DATABASE

In [19]:
%sql DROP TABLE IF EXISTS courses

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
Done.

[]

In [20]:
%%sql
CREATE TABLE courses(
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author VARCHAR(40),
    course_status VARCHAR(10),
    course_published_dt DATE NOT NULL DEFAULT CURRENT_DATE
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
Done.

[]

In [21]:
%sql SELECT * FROM courses;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
0 rows affected.

[]

## INSET DATA

In [16]:
%%sql
INSERT INTO courses(course_name, course_author, course_status, course_published_dt)
VALUES
('Programming using Python','Bob Dillon','published','30/09/2022'),
('Data Engineering using Python','Bob Dillon','published','15/07/2022'),
('Data Engineering using Scala','Elvis Presley','draft',null),
('Programming using Scala','Elvis Presley','published','15/05/2020'),
('Programming using Java','Mike Jack','inactive','10/08/2022'),
('Web Applications - Python Flask','Bob Dillon','inactive','20/07/2020'),
('Web Applications - Java Spring','Mike Jack','draft',null),
('Pipeline Orchestration - Python','Bob Dillon','draft',null),
('Streaming Pipelines - Python','Bob Dillon','published','05/10/2020'),
('Web Applications - Scala Play','Elvis Presley','inactive','30/09/2020'),
('Web Applications - Python Django','Bob Dillon','published','23/06/2020'),
('Server Automation - Ansible','Uncle Sam','published','05/07/2020');

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
12 rows affected.

[]

In [17]:
%sql SELECT * FROM courses;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering_exercises
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2022, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2022, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 15)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2022, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5))]