In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

# DATA ENGINEERING

In [2]:
%sql TRUNCATE TABLE users

Done.

[]

In [3]:
user = ('Gordan','Bradock','Gordan@teste.com','A','2020-01-10')

In [4]:
#!pip install psycopg2

In [5]:
import psycopg2

In [6]:
psycopg2.connect?

In [7]:
user = ('Gordan','Bradock','Gordan@teste.com','A','2020-01-10')

In [8]:
query = '''
    INSERT INTO users(
        user_first_name, user_last_name, user_email_id, user_role, created_dt
    )VALUES(
        %s,%s,%s,%s,%s
    )
'''

In [9]:
connection = psycopg2.connect(
    host = 'localhost',
    port='5432',
    database = 'data_engineering',
    user = 'marcio_gabriel',
    password='123456'
)

In [10]:
cursor = connection.cursor()

In [11]:
cursor.execute(query,user)

In [12]:
connection.commit()

In [13]:
%sql SELECT * FROM users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(3, 'Gordan', 'Bradock', 'Gordan@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 21, 782071))]

## MANY INSERTES

In [14]:
users = [
  ('Tobe','Lyness','Tobe@teste.com','A','2020-01-10'),
  ('Addie','Mesias','Addie@teste.com','A','2020-01-10'),
  ('Corone','Kohrsen','Corone@teste.com','A','2020-01-10')
]

In [15]:
query = '''
    INSERT INTO users(
        user_first_name, user_last_name, user_email_id, user_role, created_dt
    )VALUES(
        %s,%s,%s,%s,%s
    )
'''

In [17]:
cursor.executemany(query,users)

In [18]:
connection.commit()

In [19]:
%sql SELECT * FROM users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[(3, 'Gordan', 'Bradock', 'Gordan@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 21, 782071)),
 (4, 'Tobe', 'Lyness', 'Tobe@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 31, 922142)),
 (5, 'Addie', 'Mesias', 'Addie@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 31, 922142)),
 (6, 'Corone', 'Kohrsen', 'Corone@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 31, 922142))]

## SELECT WITH PYTHON

In [20]:
user_query = 'SELECT * FROM users'

In [21]:
cursor.execute(user_query)

In [22]:
for user in cursor:
    print(user)

(3, 'Gordan', 'Bradock', 'Gordan@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 21, 782071))
(4, 'Tobe', 'Lyness', 'Tobe@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 31, 922142))
(5, 'Addie', 'Mesias', 'Addie@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 31, 922142))
(6, 'Corone', 'Kohrsen', 'Corone@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2022, 12, 29, 16, 54, 31, 922142))

## FECHAR CONEXÃO

In [23]:
connection.close()

# WEB APPLICATION