In [124]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

# DATA ENGINEERING

In [125]:
%sql TRUNCATE TABLE users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [126]:
user = ('Gordan','Bradock','Gordan@teste.com','A','2020-01-10')

In [127]:
#!pip install psycopg2

In [128]:
import psycopg2

In [129]:
psycopg2.connect?

Signature:
psycopg2.connect(
    dsn=None,
    connection_factory=None,
    cursor_factory=None,
    **kwargs,
)
Docstring:
Create a new database connection.

The connection parameters can be specified as a string:

    conn = psycopg2.connect("dbname=test user=postgres password=secret")

or using a set of keyword arguments:

    conn = psycopg2.connect(database="test", user="postgres", password="secret")

Or as a mix of both. The basic connection parameters are:

- *dbname*: the database name
- *database*: the database name (only as keyword argument)
- *user*: user name used to authenticate
- *password*: password used to authenticate
- *host*: database host address (defaults to UNIX socket if not provided)
- *port*: connection port number (defaults to 5432 if not provided)

Using the *connection_factory* parameter a different class or connections
factory can be specified. It should be a callable object taking a dsn
argument.

Using the *cursor_factory* parameter, a new default cursor factory will be
used by cursor().

Using *async*=True an asynchronous connection will be created. *async_* is
a valid alias (for Python versions where ``async`` is a keyword).

Any other keyword parameter will be passed to the underlying client
library: the list of supported parameters depends on the library version.
File:      c:\users\gabriel\anaconda3\lib\site-packages\psycopg2\__init__.py
Type:      function

In [130]:
user = ('Gordan','Bradock','Gordan@teste.com','A','2020-01-10')

In [131]:
query = '''
    INSERT INTO users(
        user_first_name, user_last_name, user_email_id, user_role, created_dt
    )VALUES(
        %s,%s,%s,%s,%s
    )
'''

In [132]:
connection = psycopg2.connect(
    host = 'localhost',
    port='5432',
    database = 'data_engineering',
    user = 'marcio_gabriel',
    password='123456'
)

In [133]:
cursor = connection.cursor()

In [134]:
cursor.execute(query,user)

In [135]:
connection.commit()

In [136]:
%sql SELECT * FROM users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(20, 'Gordan', 'Bradock', 'Gordan@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 493977))]

## MANY INSERTES

In [137]:
users = [
  ('Tobe','Lyness','Tobe@teste.com','A','2020-01-10'),
  ('Addie','Mesias','Addie@teste.com','A','2020-01-10'),
  ('Corone','Kohrsen','Corone@teste.com','A','2020-01-10')
]

In [138]:
query = '''
    INSERT INTO users(
        user_first_name, user_last_name, user_email_id, user_role, created_dt
    )VALUES(
        %s,%s,%s,%s,%s
    )
'''

In [139]:
cursor.executemany(query,users)

In [140]:
connection.commit()

In [141]:
%sql SELECT * FROM users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[(20, 'Gordan', 'Bradock', 'Gordan@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 493977)),
 (21, 'Tobe', 'Lyness', 'Tobe@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709)),
 (22, 'Addie', 'Mesias', 'Addie@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709)),
 (23, 'Corone', 'Kohrsen', 'Corone@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709))]

## SELECT WITH PYTHON

In [142]:
user_query = 'SELECT * FROM users'

In [143]:
cursor.execute(user_query)

In [144]:
for user in cursor:
    print(user)

(20, 'Gordan', 'Bradock', 'Gordan@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 493977))
(21, 'Tobe', 'Lyness', 'Tobe@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709))
(22, 'Addie', 'Mesias', 'Addie@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709))
(23, 'Corone', 'Kohrsen', 'Corone@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709))

## FECHAR CONEX√ÉO

In [145]:
connection.close()

# WEB APPLICATION

In [146]:
import sqlalchemy as db

In [147]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [148]:
#%sql SELECT * FROM users

In [149]:
#create User Class
from datetime import datetime, date
class User(Base):
    __tablename__ = 'users'
    user_id = db.Column(db.Integer, primary_key = True)
    user_first_name = db.Column(db.String(30))
    user_last_name = db.Column(db.String(30))
    user_email_id = db.Column(db.String(50))
    user_email_validated = db.Column(db.Boolean, default = False)
    user_password = db.Column(db.String(10))
    user_role = db.Column(db.String(1), default = 'U')
    is_active = db.Column(db.Boolean, default = False)
    created_dt = db.Column(db.Date, default = date.today())
    last_updated_ts = db.Column(db.DateTime, default = datetime.now())

    def __repr__(self):
        return """<User(user_id=%s, user_first_name='%s', user_last_name='%s',
        user_email_id='%s', user_email_validated='%s', user_password='%s',
        user_role='%s', is_active='%s',created_dt='%s', last_update_ts='%s')>""" % (
            self.user_id, self.user_first_name, self.user_last_name, self.user_email_id,
            self.user_email_validated, self.user_password, self.user_role, self.is_active,
            self.created_dt, self.last_updated_ts
        )

In [150]:
#Create a session with the database
engine = db.create_engine('postgresql://marcio_gabriel:123456@localhost:5432/data_engineering')
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [151]:
#Create a user
user = User(
    user_first_name = 'Marcio',
    user_last_name = 'Mengali',
    user_email_id = 'marciomengali@uol.com.br',
    user_role = 'A',
    created_dt = '2022-01-01'
)

In [152]:
print(user)

<User(user_id=None, user_first_name='Marcio', user_last_name='Mengali',
        user_email_id='marciomengali@uol.com.br', user_email_validated='None', user_password='None',
        user_role='A', is_active='None',created_dt='2022-01-01', last_update_ts='None')>

In [153]:
#Insert A User
session.add(user)

In [154]:
#Commit the user
session.commit()

In [155]:
%sql SELECT * FROM users

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
5 rows affected.

[(20, 'Gordan', 'Bradock', 'Gordan@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 493977)),
 (21, 'Tobe', 'Lyness', 'Tobe@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709)),
 (22, 'Addie', 'Mesias', 'Addie@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709)),
 (23, 'Corone', 'Kohrsen', 'Corone@teste.com', False, None, 'A', False, datetime.date(2020, 1, 10), datetime.datetime(2023, 1, 4, 16, 46, 19, 707709)),
 (24, 'Marcio', 'Mengali', 'marciomengali@uol.com.br', False, None, 'A', False, datetime.date(2022, 1, 1), datetime.datetime(2023, 1, 4, 16, 46, 20, 41557))]

In [156]:
#get first user
session.query(User).first()

<User(user_id=20, user_first_name='Gordan', user_last_name='Bradock',
        user_email_id='Gordan@teste.com', user_email_validated='False', user_password='None',
        user_role='A', is_active='False',created_dt='2020-01-10', last_update_ts='2023-01-04 16:46:19.493977')>

In [157]:
#Add Multiples users
users = [
  ('Lavinia','Quilze','Lavinia@teste.com','A','2020-01-10'),
  ('Madu','Mengali','Madu@teste.com','A','2020-01-10')
]

In [158]:
users_objects = map(
    lambda user: User(user_first_name = user[0],
    user_last_name = user[1],
    user_email_id = user[2],
    created_dt = user[4]), users
)

In [159]:
for user in users_objects:
    print(user)

<User(user_id=None, user_first_name='Lavinia', user_last_name='Quilze',
        user_email_id='Lavinia@teste.com', user_email_validated='None', user_password='None',
        user_role='None', is_active='None',created_dt='2020-01-10', last_update_ts='None')>
<User(user_id=None, user_first_name='Madu', user_last_name='Mengali',
        user_email_id='Madu@teste.com', user_email_validated='None', user_password='None',
        user_role='None', is_active='None',created_dt='2020-01-10', last_update_ts='None')>

In [163]:
session.add_all(users_objects)

In [164]:
session.commit()

In [165]:
#get all records
for user in session.query(User).all():
    print(user)

<User(user_id=20, user_first_name='Gordan', user_last_name='Bradock',
        user_email_id='Gordan@teste.com', user_email_validated='False', user_password='None',
        user_role='A', is_active='False',created_dt='2020-01-10', last_update_ts='2023-01-04 16:46:19.493977')>
<User(user_id=21, user_first_name='Tobe', user_last_name='Lyness',
        user_email_id='Tobe@teste.com', user_email_validated='False', user_password='None',
        user_role='A', is_active='False',created_dt='2020-01-10', last_update_ts='2023-01-04 16:46:19.707709')>
<User(user_id=22, user_first_name='Addie', user_last_name='Mesias',
        user_email_id='Addie@teste.com', user_email_validated='False', user_password='None',
        user_role='A', is_active='False',created_dt='2020-01-10', last_update_ts='2023-01-04 16:46:19.707709')>
<User(user_id=23, user_first_name='Corone', user_last_name='Kohrsen',
        user_email_id='Corone@teste.com', user_email_validated='False', user_password='None',
        user_role='A', is_active='False',created_dt='2020-01-10', last_update_ts='2023-01-04 16:46:19.707709')>
<User(user_id=24, user_first_name='Marcio', user_last_name='Mengali',
        user_email_id='marciomengali@uol.com.br', user_email_validated='False', user_password='None',
        user_role='A', is_active='False',created_dt='2022-01-01', last_update_ts='2023-01-04 16:46:20.041557')>

In [ ]:
for user in session.query(User).all():
    print(user)