In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

In [2]:
%sql DROP TABLE IF EXISTS users;

Done.

[]

In [3]:
%%sql
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [4]:
%sql DROP TABLE IF EXISTS users_part;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [5]:
%%sql
CREATE TABLE users_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_role, user_id)
)PARTITION BY LIST(user_role);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [6]:
%%sql
CREATE INDEX users_part_email_id_idx
    ON users_part(user_email_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

below INSERT statement will fail as we have not added any partitions to the table 'users_part' even though it is created as partitioned table

In [7]:
%%sql
INSERT INTO users_part (user_first_name, user_last_name, user_email_id)
VALUES
    ('Scott', 'Tiger', 'scott@tiger.com'),
    ('Donal', 'Duck', 'donald@duck.com'),
    ('Mickey', 'Mouse', 'mickey@mouse.com')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.CheckViolation) no partition of relation "users_part" found for row
DETAIL:  Partition key of the failing row contains (user_role) = (U).

[SQL: INSERT INTO users_part (user_first_name, user_last_name, user_email_id)
VALUES
    ('Scott', 'Tiger', 'scott@tiger.com'),
    ('Donal', 'Duck', 'donald@duck.com'),
    ('Mickey', 'Mouse', 'mickey@mouse.com')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

# MANAGIN PARTITIONS - LIST

In [9]:
%%sql
CREATE TABLE users_part_default
PARTITION OF users_part DEFAULT

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [10]:
%%sql
INSERT INTO users_part (user_first_name, user_last_name, user_email_id, user_role)
VALUES
    ('Scott', 'Tiger', 'scott@tiger.com','U'),
    ('Donal', 'Duck', 'donald@duck.com', 'U'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', 'U')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[]

In [11]:
%sql SELECT * FROM users_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2022, 12, 1), datetime.datetime(2022, 12, 1, 13, 55, 13, 971374)),
 (3, 'Donal', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2022, 12, 1), datetime.datetime(2022, 12, 1, 13, 55, 13, 971374)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2022, 12, 1), datetime.datetime(2022, 12, 1, 13, 55, 13, 971374))]

In [13]:
%%sql
CREATE TABLE users_part_a
PARTITION OF users_part 
FOR VALUES IN ('A')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [15]:
%%sql
UPDATE users_part
SET
    user_role = 'A'
WHERE user_email_id = 'scott@tiger.com'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[]

In [19]:
%sql SELECT * FROM users_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2022, 12, 1), datetime.datetime(2022, 12, 1, 13, 55, 13, 971374)),
 (3, 'Donal', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2022, 12, 1), datetime.datetime(2022, 12, 1, 13, 55, 13, 971374)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2022, 12, 1), datetime.datetime(2022, 12, 1, 13, 55, 13, 971374))]

# PARTITIONING RANGE

In [29]:
%sql DROP TABLE IF EXISTS users_part_range_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [30]:
%%sql
CREATE TABLE users_part_range_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (created_dt, user_id)
)PARTITION BY RANGE(created_dt);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [32]:
%%sql
CREATE TABLE users_range_part_default
PARTITION OF users_part_range_part DEFAULT

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [31]:
%%sql
CREATE TABLE users_range_part_2016
PARTITION OF users_part_range_part
FOR VALUES FROM ('2016-01-01') TO ('2016-12-31')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [35]:
%%sql
ALTER TABLE users_part_range_part
    DETACH PARTITION users_range_part_2016

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [81]:
import pandas as pd
from pandas.tseries.offsets import MonthBegin, MonthEnd

months = pd.date_range(start='1/1/2016', end='3/31/2016', freq='1M')
for month in months:
    begin_date = month - MonthBegin()
    end_date = month + MonthEnd(0)
    #print(end_date)
    #print(begin_date)
    print(str(month).replace('-','')[:6], end=':')
    print(str(begin_date).split(' ')[0], end=':')
    print(str(end_date).split(' ')[0])

201601:2016-01-01:2016-01-31
201602:2016-02-01:2016-02-29
201603:2016-03-01:2016-03-31

In [2]:
! pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\gabriel\anaconda3\lib\site-packages (2.9.4)

In [7]:
import pandas as pd
import psycopg2
from pandas.tseries.offsets import MonthBegin, MonthEnd

months = pd.date_range(start='1/1/2016', end='12/31/2022', freq='1M')

connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='data_engineering',
    user='marcio_gabriel',
    password='123456'

)

cursor = connection.cursor()
table_name = 'users_part_range_part'
query = '''
    CREATE TABLE {table_name}_{yyyymm}
    PARTITION OF {table_name}
    FOR VALUES FROM ('{begin_date}') TO ('{end_date}')
'''

for month in months:
    begin_date = month - MonthBegin()
    end_date = month + MonthEnd(0)
    print(f'Adding partition for {begin_date} and {end_date}')
    cursor.execute(
        query.format(
            table_name = table_name,
            yyyymm = str(month).replace('-','')[:6],
            begin_date = str(begin_date).split(' ')[0],
            end_date = str(end_date).split(' ')[0]
        ),()
    )
connection.commit()
cursor.close()
connection.close()

Adding partition for 2016-01-01 00:00:00 and 2016-01-31 00:00:00
Adding partition for 2016-02-01 00:00:00 and 2016-02-29 00:00:00
Adding partition for 2016-03-01 00:00:00 and 2016-03-31 00:00:00
Adding partition for 2016-04-01 00:00:00 and 2016-04-30 00:00:00
Adding partition for 2016-05-01 00:00:00 and 2016-05-31 00:00:00
Adding partition for 2016-06-01 00:00:00 and 2016-06-30 00:00:00
Adding partition for 2016-07-01 00:00:00 and 2016-07-31 00:00:00
Adding partition for 2016-08-01 00:00:00 and 2016-08-31 00:00:00
Adding partition for 2016-09-01 00:00:00 and 2016-09-30 00:00:00
Adding partition for 2016-10-01 00:00:00 and 2016-10-31 00:00:00
Adding partition for 2016-11-01 00:00:00 and 2016-11-30 00:00:00
Adding partition for 2016-12-01 00:00:00 and 2016-12-31 00:00:00
Adding partition for 2017-01-01 00:00:00 and 2017-01-31 00:00:00
Adding partition for 2017-02-01 00:00:00 and 2017-02-28 00:00:00
Adding partition for 2017-03-01 00:00:00 and 2017-03-31 00:00:00
Adding partition for 2017-04-01 00:00:00 and 2017-04-30 00:00:00
Adding partition for 2017-05-01 00:00:00 and 2017-05-31 00:00:00
Adding partition for 2017-06-01 00:00:00 and 2017-06-30 00:00:00
Adding partition for 2017-07-01 00:00:00 and 2017-07-31 00:00:00
Adding partition for 2017-08-01 00:00:00 and 2017-08-31 00:00:00
Adding partition for 2017-09-01 00:00:00 and 2017-09-30 00:00:00
Adding partition for 2017-10-01 00:00:00 and 2017-10-31 00:00:00
Adding partition for 2017-11-01 00:00:00 and 2017-11-30 00:00:00
Adding partition for 2017-12-01 00:00:00 and 2017-12-31 00:00:00
Adding partition for 2018-01-01 00:00:00 and 2018-01-31 00:00:00
Adding partition for 2018-02-01 00:00:00 and 2018-02-28 00:00:00
Adding partition for 2018-03-01 00:00:00 and 2018-03-31 00:00:00
Adding partition for 2018-04-01 00:00:00 and 2018-04-30 00:00:00
Adding partition for 2018-05-01 00:00:00 and 2018-05-31 00:00:00
Adding partition for 2018-06-01 00:00:00 and 2018-06-30 00:00:00
Adding partition for 2018-07-01 00:00:00 and 2018-07-31 00:00:00
Adding partition for 2018-08-01 00:00:00 and 2018-08-31 00:00:00
Adding partition for 2018-09-01 00:00:00 and 2018-09-30 00:00:00
Adding partition for 2018-10-01 00:00:00 and 2018-10-31 00:00:00
Adding partition for 2018-11-01 00:00:00 and 2018-11-30 00:00:00
Adding partition for 2018-12-01 00:00:00 and 2018-12-31 00:00:00
Adding partition for 2019-01-01 00:00:00 and 2019-01-31 00:00:00
Adding partition for 2019-02-01 00:00:00 and 2019-02-28 00:00:00
Adding partition for 2019-03-01 00:00:00 and 2019-03-31 00:00:00
Adding partition for 2019-04-01 00:00:00 and 2019-04-30 00:00:00
Adding partition for 2019-05-01 00:00:00 and 2019-05-31 00:00:00
Adding partition for 2019-06-01 00:00:00 and 2019-06-30 00:00:00
Adding partition for 2019-07-01 00:00:00 and 2019-07-31 00:00:00
Adding partition for 2019-08-01 00:00:00 and 2019-08-31 00:00:00
Adding partition for 2019-09-01 00:00:00 and 2019-09-30 00:00:00
Adding partition for 2019-10-01 00:00:00 and 2019-10-31 00:00:00
Adding partition for 2019-11-01 00:00:00 and 2019-11-30 00:00:00
Adding partition for 2019-12-01 00:00:00 and 2019-12-31 00:00:00
Adding partition for 2020-01-01 00:00:00 and 2020-01-31 00:00:00
Adding partition for 2020-02-01 00:00:00 and 2020-02-29 00:00:00
Adding partition for 2020-03-01 00:00:00 and 2020-03-31 00:00:00
Adding partition for 2020-04-01 00:00:00 and 2020-04-30 00:00:00
Adding partition for 2020-05-01 00:00:00 and 2020-05-31 00:00:00
Adding partition for 2020-06-01 00:00:00 and 2020-06-30 00:00:00
Adding partition for 2020-07-01 00:00:00 and 2020-07-31 00:00:00
Adding partition for 2020-08-01 00:00:00 and 2020-08-31 00:00:00
Adding partition for 2020-09-01 00:00:00 and 2020-09-30 00:00:00
Adding partition for 2020-10-01 00:00:00 and 2020-10-31 00:00:00
Adding partition for 2020-11-01 00:00:00 and 2020-11-30 00:00:00
Adding partition for 2020-12-01 00:00:00 and 2020-12-31 00:00:00
Adding partition for 2021-01-01 00:00:00 and 2021-01-31 00:00:00
Adding partition for 2021-02-01 00:00:00 and 2021-02-28 00:00:00
Adding partition for 2021-03-01 00:00:00 and 2021-03-31 00:00:00
Adding partition for 2021-04-01 00:00:00 and 2021-04-30 00:00:00
Adding partition for 2021-05-01 00:00:00 and 2021-05-31 00:00:00
Adding partition for 2021-06-01 00:00:00 and 2021-06-30 00:00:00
Adding partition for 2021-07-01 00:00:00 and 2021-07-31 00:00:00
Adding partition for 2021-08-01 00:00:00 and 2021-08-31 00:00:00
Adding partition for 2021-09-01 00:00:00 and 2021-09-30 00:00:00
Adding partition for 2021-10-01 00:00:00 and 2021-10-31 00:00:00
Adding partition for 2021-11-01 00:00:00 and 2021-11-30 00:00:00
Adding partition for 2021-12-01 00:00:00 and 2021-12-31 00:00:00
Adding partition for 2022-01-01 00:00:00 and 2022-01-31 00:00:00
Adding partition for 2022-02-01 00:00:00 and 2022-02-28 00:00:00
Adding partition for 2022-03-01 00:00:00 and 2022-03-31 00:00:00
Adding partition for 2022-04-01 00:00:00 and 2022-04-30 00:00:00
Adding partition for 2022-05-01 00:00:00 and 2022-05-31 00:00:00
Adding partition for 2022-06-01 00:00:00 and 2022-06-30 00:00:00
Adding partition for 2022-07-01 00:00:00 and 2022-07-31 00:00:00
Adding partition for 2022-08-01 00:00:00 and 2022-08-31 00:00:00
Adding partition for 2022-09-01 00:00:00 and 2022-09-30 00:00:00
Adding partition for 2022-10-01 00:00:00 and 2022-10-31 00:00:00
Adding partition for 2022-11-01 00:00:00 and 2022-11-30 00:00:00
Adding partition for 2022-12-01 00:00:00 and 2022-12-31 00:00:00