In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

In [2]:
%sql DROP TABLE IF EXISTS users;

Done.

[]

In [3]:
%%sql
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [4]:
%sql DROP TABLE IF EXISTS users_part;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [5]:
%%sql
CREATE TABLE users_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_role, user_id)
)PARTITION BY LIST(user_role);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [6]:
%%sql
CREATE INDEX users_part_email_id_idx
    ON users_part(user_email_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

below INSERT statement will fail as we have not added any partitions to the table 'users_part' even though it is created as partitioned table

In [7]:
%%sql
INSERT INTO users_part (user_first_name, user_last_name, user_email_id)
VALUES
    ('Scott', 'Tiger', 'scott@tiger.com'),
    ('Donal', 'Duck', 'donald@duck.com'),
    ('Mickey', 'Mouse', 'mickey@mouse.com')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.CheckViolation) no partition of relation "users_part" found for row
DETAIL:  Partition key of the failing row contains (user_role) = (U).

[SQL: INSERT INTO users_part (user_first_name, user_last_name, user_email_id)
VALUES
    ('Scott', 'Tiger', 'scott@tiger.com'),
    ('Donal', 'Duck', 'donald@duck.com'),
    ('Mickey', 'Mouse', 'mickey@mouse.com')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

# MANAGIN PARTITIONS - LIST

In [8]:
%%sql
CREATE TABLE users_part_default
PARTITION OF users_part DEFAULT

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [9]:
%%sql
INSERT INTO users_part (user_first_name, user_last_name, user_email_id, user_role)
VALUES
    ('Scott', 'Tiger', 'scott@tiger.com','U'),
    ('Donal', 'Duck', 'donald@duck.com', 'U'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', 'U')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[]

In [10]:
%sql SELECT * FROM users_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2022, 12, 2), datetime.datetime(2022, 12, 2, 14, 22, 0, 327150)),
 (3, 'Donal', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2022, 12, 2), datetime.datetime(2022, 12, 2, 14, 22, 0, 327150)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2022, 12, 2), datetime.datetime(2022, 12, 2, 14, 22, 0, 327150))]

In [11]:
%%sql
CREATE TABLE users_part_a
PARTITION OF users_part 
FOR VALUES IN ('A')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [12]:
%%sql
UPDATE users_part
SET
    user_role = 'A'
WHERE user_email_id = 'scott@tiger.com'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[]

In [13]:
%sql SELECT * FROM users_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2022, 12, 2), datetime.datetime(2022, 12, 2, 14, 22, 0, 327150)),
 (3, 'Donal', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2022, 12, 2), datetime.datetime(2022, 12, 2, 14, 22, 0, 327150)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2022, 12, 2), datetime.datetime(2022, 12, 2, 14, 22, 0, 327150))]

# PARTITIONING RANGE

In [14]:
%sql DROP TABLE IF EXISTS users_part_range_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DependentObjectsStillExist) cannot drop table users_part_range_part because other objects depend on it
DETAIL:  default value for column user_id of table users_range_part_2016 depends on sequence users_part_range_part_user_id_seq
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE IF EXISTS users_part_range_part]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [15]:
%%sql
CREATE TABLE users_part_range_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (created_dt, user_id)
)PARTITION BY RANGE(created_dt);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users_part_range_part" already exists

[SQL: CREATE TABLE users_part_range_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (created_dt, user_id)
)PARTITION BY RANGE(created_dt);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [16]:
%%sql
CREATE TABLE users_range_part_default
PARTITION OF users_part_range_part DEFAULT

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users_range_part_default" already exists

[SQL: CREATE TABLE users_range_part_default
PARTITION OF users_part_range_part DEFAULT]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [17]:
%%sql
CREATE TABLE users_range_part_2016
PARTITION OF users_part_range_part
FOR VALUES FROM ('2016-01-01') TO ('2016-12-31')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.DuplicateTable) relation "users_range_part_2016" already exists

[SQL: CREATE TABLE users_range_part_2016
PARTITION OF users_part_range_part
FOR VALUES FROM ('2016-01-01') TO ('2016-12-31')]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [18]:
%%sql
ALTER TABLE users_part_range_part
    DETACH PARTITION users_range_part_2016

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
(psycopg2.errors.UndefinedTable) relation "users_range_part_2016" is not a partition of relation "users_part_range_part"

[SQL: ALTER TABLE users_part_range_part
    DETACH PARTITION users_range_part_2016]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [19]:
import pandas as pd
from pandas.tseries.offsets import MonthBegin, MonthEnd

months = pd.date_range(start='1/1/2016', end='3/31/2016', freq='1M')
for month in months:
    begin_date = month - MonthBegin()
    end_date = month + MonthEnd(0)
    #print(end_date)
    #print(begin_date)
    print(str(month).replace('-','')[:6], end=':')
    print(str(begin_date).split(' ')[0], end=':')
    print(str(end_date).split(' ')[0])

201601:2016-01-01:2016-01-31
201602:2016-02-01:2016-02-29
201603:2016-03-01:2016-03-31

In [20]:
! pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\gabriel\anaconda3\lib\site-packages (2.9.4)

In [21]:
import pandas as pd
import psycopg2
from pandas.tseries.offsets import MonthBegin, MonthEnd

months = pd.date_range(start='1/1/2016', end='12/31/2022', freq='1M')

connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='data_engineering',
    user='marcio_gabriel',
    password='123456'

)

cursor = connection.cursor()
table_name = 'users_part_range_part'
query = '''
    CREATE TABLE {table_name}_{yyyymm}
    PARTITION OF {table_name}
    FOR VALUES FROM ('{begin_date}') TO ('{end_date}')
'''

for month in months:
    begin_date = month - MonthBegin()
    end_date = month + MonthEnd(0)
    print(f'Adding partition for {begin_date} and {end_date}')
    cursor.execute(
        query.format(
            table_name = table_name,
            yyyymm = str(month).replace('-','')[:6],
            begin_date = str(begin_date).split(' ')[0],
            end_date = str(end_date).split(' ')[0]
        ),()
    )
connection.commit()
cursor.close()
connection.close()

Adding partition for 2016-01-01 00:00:00 and 2016-01-31 00:00:00

DuplicateTable: relation "users_part_range_part_201601" already exists

# HAS PARTITIONING

In [22]:
%sql DROP TABLE IF EXISTS user_hash_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [23]:
%%sql
CREATE TABLE users_hash_part (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (user_id)
)PARTITION BY HASH(user_id);

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [24]:
%%sql
CREATE TABLE users_hash_part_0_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 0)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [25]:
%%sql
CREATE TABLE users_hash_part_1_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 1)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [27]:
%%sql
CREATE TABLE users_hash_part_2_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 2)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [28]:
%%sql
CREATE TABLE users_hash_part_3_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 3)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [29]:
%%sql
CREATE TABLE users_hash_part_4_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 4)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [30]:
%%sql
CREATE TABLE users_hash_part_5_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 5)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [31]:
%%sql
CREATE TABLE users_hash_part_6_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 6)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [32]:
%%sql
CREATE TABLE users_hash_part_7_of_8
PARTITION OF users_hash_part
FOR VALUES WITH(modulus 8, remainder 7)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [34]:
%%sql
INSERT INTO users_hash_part (user_first_name, user_last_name, user_email_id, created_dt)
VALUES
    ('Scott', 'Tiger', 'scott@tiger.com','2018-10-01'),
    ('Donal', 'Duck', 'donald@duck.com', '2019-02-10'),
    ('Mickey', 'Mouse', 'mickey@mouse.com', '2017-06-22')

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[]

In [36]:
%sql SELECT * FROM users_hash_part

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(1, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2018, 10, 1), datetime.datetime(2022, 12, 2, 14, 44, 25, 948547)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2017, 6, 22), datetime.datetime(2022, 12, 2, 14, 44, 25, 948547)),
 (2, 'Donal', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2019, 2, 10), datetime.datetime(2022, 12, 2, 14, 44, 25, 948547))]

# SUB PARTITIONING

In [37]:
%sql DROP TABLE IF EXISTS user_qtly

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [39]:
%%sql
CREATE TABLE user_qtly (
    user_id SERIAL,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    usser_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE,
    created_year INT,
    created_mnth INT,
    last_update_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY(created_year, created_mnth, user_id)
)PARTITION BY LIST(created_year)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [40]:
%%sql
CREATE TABLE user_qtly_2016
PARTITION OF user_qtly
FOR VALUES IN (2016)
PARTITION BY LIST(created_mnth)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [41]:
%%sql
CREATE TABLE user_qtly_2016q1
PARTITION OF user_qtly_2016
FOR VALUES IN (1, 2, 3)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [42]:
%%sql
CREATE TABLE user_qtly_2016q2
PARTITION OF user_qtly_2016
FOR VALUES IN (4, 5, 6)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [43]:
%%sql
CREATE TABLE user_qtly_2016q3
PARTITION OF user_qtly_2016
FOR VALUES IN (7, 8, 9)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [44]:
%%sql
CREATE TABLE user_qtly_2016q4
PARTITION OF user_qtly_2016
FOR VALUES IN (10, 11, 12)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

# EXERCISES

Exercise 1¶
Create table orders_part with the same columns as orders.

Partition the table by month using range partitioning on order_date.

Add 14 partitions - 13 based up on the data and 1 default. Here is the naming convention.

Default - orders_part_default

Partition for 2014 January - orders_part_201401

In [47]:
%sql SELECT * FROM orders LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [48]:
%%sql
SELECT * FROM information_schema.columns WHERE table_name = 'orders'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[('data_engineering', 'public', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [59]:
%%sql
SELECT * FROM information_schema.columns WHERE table_name = 'customers'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
9 rows affected.

[('data_engineering', 'public', 'customers', 'customer_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_fname', 2, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_lname', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_email', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_password', 5, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_street', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_city', 7, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_state', 8, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'customers', 'customer_zipcode', 9, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [57]:
%%sql
CREATE TABLE orders_part(
    order_id SERIAL,
    order_date DATE DEFAULT CURRENT_DATE,
    order_customer_id INT,
    order_status VARCHAR(45),
    PRIMARY KEY(order_date,order_id)
)PARTITION BY RANGE(order_date)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [62]:
%%sql
ALTER TABLE
orders_part
ADD CONSTRAINT fk_customer_order FOREIGN KEY (order_customer_id) REFERENCES customers(customer_id)

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [63]:
%%sql
CREATE TABLE orders_part_default
PARTITION OF orders_part DEFAULT

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
Done.

[]

In [ ]:
import pandas as pd
import psycopg2
from pandas.tseries.offsets import MonthBegin, MonthEnd

months = pd.date_range(start='1/1/2016', end='12/31/2022', freq='1M')

connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='data_engineering',
    user='marcio_gabriel',
    password='123456'

)

cursor = connection.cursor()
table_name = 'orders_part'
query = '''
    CREATE TABLE {table_name}_{yyyymm}
    PARTITION OF {table_name}
    FOR VALUES FROM ('{begin_date}') TO ('{end_date}')
'''

for month in months:
    begin_date = month - MonthBegin()
    end_date = month + MonthEnd(0)
    print(f'Adding partition for {begin_date} and {end_date}')
    cursor.execute(
        query.format(
            table_name = table_name,
            yyyymm = str(month).replace('-','')[:6],
            begin_date = str(begin_date).split(' ')[0],
            end_date = str(end_date).split(' ')[0]
        ),()
    )
connection.commit()
cursor.close()
connection.close()