## STANDARD TRANSFORMATIONS

1. Projection of data
2. Filtering Data
3. Perfoming Aggregations
4. Joins
5. Sorting
6. Ranking

In [1]:
%load_ext sql
%env DATABASE_URL = postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

env: DATABASE_URL=postgresql://marcio_gabriel:123456@localhost:5432/data_engineering

# SELECTING OR PROJECTING DATA

In [2]:
%sql SELECT * FROM orders LIMIT 10;

10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [5]:
%%sql 
SELECT * FROM information_schema.columns
WHERE table_catalog = 'data_engineering'
AND table_name = 'orders'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
4 rows affected.

[('data_engineering', 'public', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('data_engineering', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'data_engineering', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [6]:
%%sql
#specify columns in any order
SELECT order_customer_id, order_date, order_status
FROM orders
LIMIT 10;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(11599, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (256, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (12111, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (8827, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (11318, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (7130, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (4530, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (2911, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING'),
 (5657, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (5648, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT')]

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [12]:
%%sql
SELECT order_customer_id,
    to_char(order_date, 'yyyy-MM') AS order_month, 
    order_status
FROM orders
LIMIT 10;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [13]:
%%sql
SELECT DISTINCT to_char(order_date, 'yyyy-MM') AS order_month
FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
13 rows affected.

[('2014-01',),
 ('2014-05',),
 ('2013-12',),
 ('2013-11',),
 ('2014-04',),
 ('2014-07',),
 ('2014-03',),
 ('2013-08',),
 ('2013-10',),
 ('2013-07',),
 ('2014-02',),
 ('2013-09',),
 ('2014-06',)]

In [14]:
%sql SELECT count(1) FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(68883,)]

In [15]:
%%sql
SELECT count(DISTINCT to_char(order_date, 'yyyy-MM')) AS distinct_month_count
FROM orders

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(13,)]

# FILTERING DATA

In [16]:
%%sql
SELECT * FROM orders
WHERE order_status = 'COMPLETE'
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 333, 'COMPLETE'),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 7562, 'COMPLETE'),
 (28, datetime.datetime(2013, 7, 25, 0, 0), 656, 'COMPLETE'),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 3960, 'COMPLETE')]

In [18]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status = 'COMPLETE'

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(22899,)]

In [19]:
%%sql
SELECT DISTINCT order_status FROM orders;

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
9 rows affected.

[('COMPLETE',),
 ('ON_HOLD',),
 ('PENDING_PAYMENT',),
 ('PENDING',),
 ('CLOSED',),
 ('CANCELED',),
 ('PROCESSING',),
 ('PAYMENT_REVIEW',),
 ('SUSPECTED_FRAUD',)]

In [22]:
%%sql
SELECT * FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (12, datetime.datetime(2013, 7, 25, 0, 0), 1837, 'CLOSED'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (18, datetime.datetime(2013, 7, 25, 0, 0), 1205, 'CLOSED')]

In [23]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(30455,)]

In [25]:
%%sql
SELECT COUNT(1) FROM orders
WHERE order_status = 'COMPLETE' OR order_status = 'CLOSED'
LIMIT 10

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
1 rows affected.

[(30455,)]

In [26]:
%%sql
SELECT * FROM orders
WHERE order_date = '2014-01-01 00:00:00.0'
LIMIT 3

 * postgresql://marcio_gabriel:***@localhost:5432/data_engineering
3 rows affected.

[(25876, datetime.datetime(2014, 1, 1, 0, 0), 3414, 'PENDING_PAYMENT'),
 (25877, datetime.datetime(2014, 1, 1, 0, 0), 5549, 'PENDING_PAYMENT'),
 (25878, datetime.datetime(2014, 1, 1, 0, 0), 9084, 'PENDING')]